.img1{
margin-left:80px;
margin-top:50px;

}
.img2{
margin-left:120px;
margin-top:-545px;
}

.login{
border:1px solid black;
width:330px;
padding:20px;
margin-top:-470px;
margin-left:700px;
text-align:center;
}

input{
padding:8px;
height:10px;
width:310px;
margin-top:10px;

}

.btn-login{
width:330px;
background-color:#4CB5F9;
margin-top:10px;
height:30px;
border:none;
border-radius:5px;
font-weight:900;
color:#fff;
}
.fb-btn{
text-decoration:none;
margin-top:10px:
}
